/* Default CSS */

@charset "utf-8";

         /*
         Author: Alyssa Mednick
	     Date: 06/10/2024
         */


         
         
/*    Base Styles    */         
         
html {
     background:url('back1.png');
     background-repeat: no-repeat;
     background-attachment: fixed; 
     background-size: 100% 100%;
     height: 100%;
     display: table;
     margin: auto;
     color: #b29d94;
     font-size:12pt;
     font-family: Gabriola, Century Gothic;
}

body { 
     height: 100%;
     vertical-align:middle;
     background-color: rgba(105,66,59,255);
     border: 10px solid rgba(76,37,29,255;
     color: #b29d94; 
} 
 
div { 
    margin: 0;
    padding: 0;  
}

div.navi {
 justify-content: center;
 align-content: center; 
 }